/* Bootstrap overrides */

/* body - Necessary entries for Bootstrap NavBarv */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 65px;
    margin: 0;
}

a {
  color: #FF6600;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #FF6600;
    border-color: #B94B00;
}

    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:hover {
        color: #000000;
        background-color: #FF8F46;
        border-color: #FF6600;
    }

    /* No Border around the Brand box */
.noborder {
    border: none;
}

.my-bs-light {
    color: white;
}

/*.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 1;
    }

    @include media-breakpoint-only(xl) {
        column-count: 5;
    }

    @include media-breakpoint-only(xxl) {
        column-count: 5;
    }
}*/