/* Bootstrap overrides */

/* body - Necessary entries for Bootstrap NavBarv */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 65px;
    margin: 0;
}

a {
  color: #60605F;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #60605F;
    border-color: #3A3A3A;
}

    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:hover {
        color: #000000;
        background-color: #AEAEAE;
        border-color: #1E1E1E;
    }

    /* No Border around the Brand box */
.noborder {
    border: none;
}

.my-bs-light {
    color: white;
}
