/* Bootstrap overrides */

/* body - Necessary entries for Bootstrap NavBarv */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 65px;
    margin: 0;
}

a {
  color: #60605F;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: forestgreen;
    border-color: rgb(46, 98, 46);
}

    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:hover {
        color: #000000;
        background-color: rgb(56, 151, 56);
        border-color: #0F2A0F;
    }

    /* No Border around the Brand box */
.noborder {
    border: none;
}

.my-bs-light {
    color: white;
}

.carousel-inner {
    border-radius: 5px;
    overflow: hidden;
    color: white;
    width: 100%;
}