/* Logos */
#biglogo {
    height: 120px;
}

.brandlogo {
    padding-right: 8px;
    height: 40px;
}

.brandlogo2 {
    padding-left: 8px;
    height: 40px;
}

#Copyright {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/* Define Gradient Heading CSS ( used in TOS and Privacy */
#myBox {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #60605F;
    color: black;
    display: block;
    text-decoration: none;
}

.goldGradient {
    background: linear-gradient(to right, #60605F 0%, transparent 100%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.gradientheading {
    width: auto;
    background: linear-gradient(90deg, #60605F, transparent 100%);
    color: black;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    max-width: 100%;
    border-radius: 15px;
    font-weight: bold;
}

.p_div {
    width: auto;
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

.p_div_bullet:before {
    width: auto;
    content: "-";
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

/****************/
/* Footer Stuff */
/****************/

footer {
    height: 136px;
}

.site-footer__item a {
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
    list-style-type: none;
}

    .site-footer__item a:focus,
    .site-footer__item a:hover,
    .site-footer__item a:active {
        color: white;
    }

.site-footer {
    clear: both;
    margin-top: 5px;
    position: relative;
    background: black;
}

.site-footer__header {
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: rgb(204, 193, 179);
    margin-bottom: 0;
    margin-right: 0;
}

.site-footer__module-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-weight: 700
}

    .site-footer__module-group .site-footer__item {
        margin-bottom: 0;
        color: rgb(204, 193, 179);
        font-weight: 700
    }

        .site-footer__module-group .site-footer__item > a {
            color: rgb(204, 193, 179);
            display: inline-block;
            line-height: 1
        }

    .site-footer__module-group li:last-child .site-footer__item {
        margin-bottom: 0
    }

.site-footer__module {
    width: 33.33%;
    padding: 0 0 0 2px;
}

    .site-footer__module ul {
        margin: 0;
        padding: 0;
    }

.site-footer__item {
    list-style-type: none;
}

    .site-footer__item a {
        font-size: 12px;
        font-weight: 400;
    }

        .site-footer__item a:focus,
        .site-footer__item a:hover,
        .site-footer__item a:active {
            color: white;
        }


/* Iframe style for Schedule and Fundraising display */
div, iframe {
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    border-style: none;
}