/* body - Necessary entries for Bootstrap NavBarv */
body {   
    overflow-y: scroll;
    line-height: 1;
    padding-top: 65px;
    margin: 0;
}

/* Logos */    
#biglogo {
    height: 160px;
    }

#brandlogo {
    padding-right: 16px;
    height: 40px;
}

#timezone {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#myBox {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #FF6600;
    color: transparent;
    display: block;
    text-decoration: none;
    text-shadow: .5px .5px 0 black, -.5px -.5px 0 black, 0 0 3px gray;
}

/* Define Gradient Heading CSS */
.goldGradient {
    background: linear-gradient(to right, #FF6600 0%, transparent 100%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.gradientheading {
    width: auto;
    background: linear-gradient(90deg, #FF6600, transparent 100%);
    color: black;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    max-width: 100%;
    border-radius: 15px;
    font-weight: bold;
}

.p_div {
    width: auto;
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

.p_div_bullet:before {
    width: auto;
    content: "-";
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}